
body {
    max-width: 600px;
    margin: 0 auto;
}

.shop-container {
    background-color: rgb(205, 190, 50);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::placeholder {
  text-align: left;
  padding-left: 10px; 
}