
body {
    max-width: 600px;
    margin: 0 auto;
  
font-family: 'Tsukimi Rounded', sans-serif;
}

.shop-container {
    background-color: rgb(205, 190, 50);
    max-width: 95%;
    margin: 1em auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
 text-indent: 10px;
}

[x-cloak] { display: none; }

